.main-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url("../images/space-background.jpg");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-size: cover;
  animation: moveBackground 16s linear infinite;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
    opacity: 1;
  }
  50% {
    background-position: 100% 0;
    opacity: 0.8;
  }
  100% {
    background-position: 0 0;
    opacity: 1;
  }
}
.main-screen .menu {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  background: #FFCF6A;
}
.main-screen .menu ul .cta {
  list-style-type: none;
  width: 240px;
  margin: 5px auto 5px auto;
  height: 40px;
  line-height: 40px;
  background: #ADCFF5;
  cursor: pointer;
  opacity: 0.8;
  transition: background-color 0.4s;
}
.main-screen .menu ul .cta:hover {
  opacity: 1;
  background-color: #333298;
  color: white;
}
.main-screen .menu ul:last-child {
  margin-bottom: 0;
}
.application-container .splash-screen {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/splash-screen.gif");
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeOut 1s 2s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.application-container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 100px auto 0 auto;
}
