@import "main-screen";
@import "splash-screen";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.application-container {
    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -400px;
}
